
/*
!.gitignore

!/Nippon
/Nippon/Japan/
!/Medical
/Medical/CORE/
/Medical/FATFS/
/Medical/MALLOC/
/Medical/MODBUS_MASTER/
/Medical/UCOSIII/
/Medical/USMART/
/Medical/OBJ/
/Medical/SYSTEM/
/Medical/HALLIB/
/Medical/TEXT/
!/Medical/USER/
/Medical/USER/DebugConfig/
/Medical/USER/Listings/
/Medical/USER/Objects/
/Medical/USER/*.uvoptx
/Medical/USER/*.uvprojx
/Medical/USER/*.Administrator
/Medical/USER/*.japansony
/Medical/USER/*.login_fae

*.png
*.css
*.s
*.o
*.bat
*.d
*.crf
*.lst
*.htm
*.hex
*.map
*.lnp
*.sct
*.TMP

!*.c
!*.txt
!*.h


Medical/USER/stm32f429xx.h
Medical/USER/stm32f4xx.h
Medical/USER/stm32f4xx_hal_conf.h
Medical/USER/stm32f4xx_it.c
Medical/USER/stm32f4xx_it.h
Medical/USER/system_stm32f4xx.c
Medical/USER/system_stm32f4xx.h
